[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pymysql = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"
watchdog = "*"

[dev-packages]

[requires]
python_version = "3.7"
